@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto-condensed-lmm {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
